body {
	background:#80959F;
	font-family: ‘Courier New’, Courier, monospace;
	height:100%;
}

h2 {
	color:#50656F;
	font-weight:bold;
	padding:0;
	top:0;
	margin-top:3px;
	display:inline;
}

#top {
	position:absolute;
	top:0;
	left:0;
	display:block;
	margin:0 auto;
	text-align:center;
	width:100%;
	border-radius:15px;
	background-color:#BFBFBF;
	height:6%;
}

#signin {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:25%;
	left:70%;
}

#signup {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:50%;
	left:70%;
}

#firstname {
	width:62px;
}

#lastname {
	width:62px;
}

#inputusername {
	width:140px;
}

#inputpassword {
	width:140px;
}

#newemail {
	width:140px;
}

#newpassword {
	width:140px;
}

#loginbutton {
	float:right;
	margin-top:5%;
	margin-right:1%;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#30AACF;
	color:white;
	font:bold 12px 'Trebuchet MS';
	padding:4px;
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#register {
	background:#FF0019;
	float:right;
	margin-top:5%;
	margin-right:1%;
	letter-spacing:1px;
	border:1px solid #000000;
	color:white;
	font:bold 12px 'Trebuchet MS';
	padding:4px;
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}