body {
	background:url('concert.jpeg') no-repeat center center fixed;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	font-family: 'Calibri';
	height:100%;
}

#homebody {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #D2D2D4 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #D2D2D4 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #EDEDED 0%, #D2D2D4 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #D2D2D4));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #D2D2D4 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #EDEDED 0%, #D2D2D4 100%);
}

#title {
	color:#D7D7D7;
	text-decoration:none;
	font-weight:bold;
	padding:0;
	top:0;
	margin-top:6px;
	display:inline;
	float:left;
	margin-left:10px;
	font-size:24px;
}

#top {
	position:fixed;
	top:0;
	left:0;
	display:block;
	margin:0 auto;
	text-align:center;
	width:100%;
	background-color:#000000;
	height:40px;
	z-index:100;
}

#toplogo {
	display:inline;
	padding-left:20px;
	float:left;
}

#inputForms {
	left:50%;
	position:relative;
}

#description {
	left:8%;
	width:45%;
	top:15%;
	font-family: "Blackletter";
	position:absolute;
	text-align:center;
}

#links {
	left:30%;
	top:92%;
	position:absolute;
}

.link {
	font-size:16px;
	display:inline;
	padding:20px;
	text-decoration:none;
	color:#A891ED;
}

a.link:visited{
	color:#A891ED;
}

#mission_title {
	font-size:30px;
	font-weight:bold;
}

#mission_content {
	font-size:28px;
}

#signin {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:110px;
	left:70%;
	height:145px;
	width:230px;
}

#signup {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:300px;
	left:70%;
	height:185px;
	width:230px;
}

#signuplabel {
	font-size:24px;
}

#signinlabel {
	font-size:24px;
}

#username {
	width:95%;
	height:25px;
	margin:2%;
	font-size:16px;
}

#logout {
	float:right;
	text-decoration:none;
	position:relative;
	font:bold 22px 'Trebuchet MS';
	color:#444444;
}

#logout:hover{
	color:#FF7F24;
}

#loginerror {
 	position:absolute;
	left:8%;
	top:80%;
	color:red;
}

#signuperror {
	top:83%;
	left:7%;
	color:red;
	position:absolute;
}

.login {
	width:95%;
	height:25px;
	margin:5px;
	font-size:16px;
}

.signup {
	width:95%;
	height:25px;
	margin:5px;
	font-size:16px;
}

#loginbutton {
	border-style:none;
	margin-top:3px;
	float:right;
	background-color:#E45159;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	width:88px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
}
#loginbutton:hover {
	background-color:#F46169;
}
#loginbutton:active {
	position:relative;
}

#register {
	border-style:none;
	margin-top:3px;
	float:right;
	background-color:#1279e0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	width:88px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
}
#register:hover {
	background-color:#378de5;
}
#register:active {
	position:relative;
}


#welcomemessage {
	color:#CCEEFF;
	font-weight:bold;
	padding:0;
	top:0;
	margin-top:6px;
	display:block;
	float:left;
	margin-left:20px;
}

#new_review {
	text-decoration:none;
	padding:6px;
	margin:0 auto;
	margin-top:8px;
	white-space:normal;
	position:relative;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#FF0019;
	color:white;
	font:bold 14px 'Trebuchet MS';
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}

#navigation {
	width:999px;
	height:50px;
}

#navigationList {
	padding:0;
	position:relvative;
	height:100%;
	margin:0;
	display:inline;
}

#navigationList li {
	display:inline-block;
	list-style-type:none;
	margin-left:0;
	margin-right:0;
	height:100%;
	width:140px;
	text-align:center;
	display:relative;
}

.navbut {
	text-decoration:none;
	font:bold 18px 'Trebuchet MS';
	margin:auto;
	color:#3377AA;
	position:relative;
	width:100%;
	height:71%;
	padding-top:14px;
	display:inline-block;
}

.navbut:hover{
	background:#AFF7D3
}

#Tabs {
	width:1000px;
	position:absolute;
	clear:both;
	left:50%;
	margin-left:-500px;
	top:85px;
	bottom:0;
}

#allcontent {
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	background:#FFFFFF;
	bottom:0;
	top:52px;
	overflow:auto;
	width:100%;
	position:absolute;
}

#content_1, #content_3 {display:none;}

#profile_info {
	display:inline-block;
	width:23%;
	padding-left:20px;
}

#hiddenAge {
	width:40px;
}

#hiddenAgeSubmit {
	padding:2px;
	position:relative;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#FF0019;
	color:white;
	font:bold 14px 'Trebuchet MS';
	cursor:pointer;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

#profie_name {
	padding-left:40px;
	padding-top:0px;
	padding-bottom:0px;
	width:180px;
	display:block;
}

#profile_image {
	padding-left:20px;
	width:200px;
	float:left;
	position:relative;
}

#changeprofileimage {
	position:absolute;
	top:80%;
	left:20%;
	background:#DDDDDD;
	display:none;
	border:1px solid #000000;
}

#changeprofileimagebtn {
	text-decoration:none;
}

#profile_stats {
	margin-top:20px;
	display:inline-block;
}

#profilefeed {
	position:relative;
	overflow:auto;
	float:right;
	display:inline-block;
	width:680px;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	border-left:1px solid #000000;
}

#reviewDate {
	float:right;
}

#myactivity {
	position:relative;
	display:inline;
}

#myactivitylabel {
	display:block;
	margin-top:5px;
	
}

.profileReview {
	border:1px solid #000000;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	display:block;
	padding:15px;
	background:#F3F3F3;
}

.profileReview:hover {
	background:#E3E3E3;
}

#searching {
	position:relative;
	border:3px solid #00FF00;
	height:20px;
	width:50px;
	display:inline-block;
}

#search_field {
	width:240px;
	margin-top:1%;
	margin-left:35%;
	font-size:16px;
	display:inline;
}

p {
	padding-left: 15px;
}

#homebutton {
	padding-left:3%;
	text-decoration:none;
	font:bold 18px 'Trebuchet MS';
	cursor:pointer;
	letter-spacing:1.2px;
	color:#EEAD0E;
}

#reviewlabel {
	font: bold 18px 'Trebuchet MS';
	margin-left:2%;
}

#reviewbody {
	margin-left:2%;
	margin-right:2%;
	width:95%;
	height:230px;
	margin-bottom:10px;
	margin-top:5px;
	resize:none;
	font-size:18px;
}

#artistlabel {
	font: bold 18px 'Trebuchet MS';
	margin-left:2%;
}

#inputAlbum {
	margin-left:2%;
	margin-right:2%;
	width: 85%;
	margin-bottom:2%;
	font-size:16px;
	display:inline;
}

#newreviewbtn {
	border-style:none;
	margin-top:3px;
	float:right;
	background-color:#1279e0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	margin-right:25px;
	margin-bottom:10px;
	width: 100px;
	display: inline-block;
}
#newreviewbtn:hover {
	background-color:#378DE5;
}

#artistlookupbtn {
	border-style:none;
	float:right;
	background-color:#E45159;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	margin-top:-2px;
	margin-right:20px;
	display: inline-block;
}
#artistlookupbtn:hover {
	background-color:#F46169;
}

#artistlisting {
	text-decoration:none;
	list-style-type: none;
	cursor:pointer;
}

.searchresult {
	border:1px solid #000000;
	width:200px;
	margin-left:50px;
	padding-right:10px;
	margin-bottom:20px;
	display:inline-block;
}

.searchresult:hover{
	background:#CCCCCC;
	cursor:pointer;
}

.searchresulta {
	text-decoration:none;
	color:black;
}
.searchresultactive {
	border:1px solid #000000;
	width:200px;
	margin-left:50px;
	padding-right:10px;
	margin-bottom:20px;
	display:inline-block;
	background-color:#EECC44;
}

#albumArt {
	left:100px;
	position:relative;
}

#maincontainer {
	width:1000px;
	position:absolute;
	left:50%;
	margin-left:-500px;
	top:85px;
	bottom:0;
}

#followerslist {
	position:relative;
	width:42%;
	display:inline-block;
	margin-left:30px;
	border-radius:15px;
	-moz-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	-webkit-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	box-shadow: 0px 0px 15px 8px #CCCCCC;
  	background-color:#EEBBCC;
}

#followinglist {
	position:relative;
	width:42%;
	display:inline-block;
	float:right;
	margin-right:30px;
	border-radius:15px;
	-moz-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	-webkit-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	box-shadow: 0px 0px 15px 8px #CCCCCC;
  	background-color:#CCBBEE;
}

#followerstitle {
	text-align:center;
}

#followingtitle {
	text-align:center;
}

.followingCard {
	list-style-type:none;
	border:1px solid #000000;
	text-align:center;
	margin-left:20px;
	height:40px;
	width:50%;
	background-color:#BBAADD;
	border-radius:15px;
	padding-top:15px;
}

.followerCard {
	list-style-type:none;
	border:1px solid #000000;
	text-align:center;
	margin-left:20px;
	height:40px;
	width:50%;
	background-color:#DDAABB;
	border-radius:15px;
	padding-top:15px;
}

.followingCardLink {
	text-decoration:none;
	font-size:22px;
}

#searchfriendsinput {
	margin-left:30px;
	font-size:16px;
}

#searchfriendsbtn {
	border-style:none;
	margin-top:3px;
	background-color:#E45159;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	width:150px;
	margin-left:20px;
	display: inline-block;
}
#searchfriendsbtn:hover {
	background-color: #F46169;
}


#potentialsList {
	margin-left:30px;
	margin-right:30px;
}

.checkboxElement {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:inline-block;
	list-style-type:none;
	border:1px solid #888888;
	background:#DDDDDD;
	color:#AAAAAA;
	padding:20px;
}

.checkboxSelected {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:inline-block;
	list-style-type:none;
	border:1px solid #888888;
	background:#999999;
	color:#000000;
	padding:20px;
}

#addfriends {
	border-style:none;
	margin-top:3px;
	background-color:#1279e0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	width:150px;
	margin-left:30px;
	display: inline-block;
}
#addfriends:hover {
	background-color:378DE5;
}

#searchbtn {
	border-style:none;
	margin-top:3px;
	background-color:#E45159;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	height:32px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	width:170px;
	margin-left:400px;
	display: inline-block;
}

#searchbtn:hover {
	background-color:#F46169;
}

#searchinput {
	display:inline;
	margin-left:300px;
	font-size:30px;
}

#searchdropdown {
    color: #666666;
    font-family:Comfortaa, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size:16px;
    height:28px;
    border:1px solid #CCCCCC;
    margin-top:10px;
}

#permalinkReview {
	border:1px solid #000000;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	display:block;
	padding:15px;
	background:#F3F3F3;
	margin:0 40px;
}

#artistTitle {
	font-size:36px;
	text-align:center;
	font-family: Georgia, serif;
}

#albumList {
	margin-left:125px;
	height:300px;
	overflow:auto;
	column-count:3;
	column-width:200px;
	list-style-type:none;
	width:700px;
}

.albumListEntry {
	border:1px solid #000000;
	float:left;
	width:200px;
	height:80px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	text-align:center;
	padding-top:50px;
	font-size:24px;
	font-family: Georgia, serif;
	background:#FFFFFF;
}

.albumListEntry:hover {
	background:#DBDBDB;
}

.albumListEntryLink {
	color:#000000;
	text-decoration:none;
}

#artistlisting {
	margin-left:100px;
	font-size:32px;
	color:#444444;
}

#albumListing {
	margin-left:100px;
	font-size:28px;
	color:#222222;
	border:1px solid #000000;
	width:450px;
	padding:10px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	background: #DDDDDD;
}

#artistListingInAlbum {
	text-decoration:none;
	color:#444444;
	margin-left:40px;
	font-size:18px;
}

#albumTitle {
	font-size:28px;
}

#reviewList {

}

.reviewContainer {
	border:1px solid #000000;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	display:block;
	padding:15px;
	background:#F3F3F3;
	margin-right:40px;
}

.reviewContainer:hover {
	background:#E3E3E3;
}

#reviewText {
	font-size:14px;
	margin-left:10px;
	margin-top:10px;
}