body {
	background:url('concert.jpeg') no-repeat center center fixed;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	font-family: 'Calibri';
	height:100%;
}

#homebody {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #939399 0%, #A2ADAA 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #939399 0%, #A2ADAA 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #939399 0%, #A2ADAA 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #939399), color-stop(1, #A2ADAA));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #939399 0%, #A2ADAA 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #939399 0%, #A2ADAA 100%);
}

#title {
	color:#D7D7D7;
	text-decoration:none;
	font-weight:bold;
	padding:0;
	top:0;
	margin-top:6px;
	display:inline;
	float:left;
	margin-left:10px;
	font-size:24px;
}

#top {
	position:fixed;
	top:0;
	left:0;
	display:block;
	margin:0 auto;
	text-align:center;
	width:100%;
	background-color:#000000;
	height:40px;
	z-index:100;
}

#toplogo {
	display:inline;
	padding-left:20px;
	float:left;
}

#inputForms {
	left:50%;
	position:relative;
}

#description {
	left:8%;
	width:45%;
	top:15%;
	font-family: "Blackletter";
	position:absolute;
	text-align:center;
}

#links {
	left:30%;
	top:92%;
	position:absolute;
}

.link {
	font-size:16px;
	display:inline;
	padding:20px;
	text-decoration:none;
	color:#A891ED;
}

a.link:visited{
	color:#A891ED;
}

#mission_title {
	font-size:30px;
	font-weight:bold;
}

#mission_content {
	font-size:28px;
}

#signin {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:110px;
	left:70%;
	height:145px;
	width:230px;
}

#signup {
	background-color:#CCCCCC;
	padding:10px;
	border-radius:15px;
	position:absolute;
	top:300px;
	left:70%;
	height:185px;
	width:230px;
}

#signuplabel {
	font-size:24px;
}

#signinlabel {
	font-size:24px;
}

#username {
	width:95%;
	height:25px;
	margin:2%;
	font-size:16px;
}

#logout {
	float:right;
	text-decoration:none;
	position:relative;
	font:bold 22px 'Trebuchet MS';
	color:#444444;
}

#logout:hover{
	color:#FF7F24;
}

#loginerror {
 	position:absolute;
	left:8%;
	top:80%;
	color:red;
}

#signuperror {
	top:83%;
	left:7%;
	color:red;
	position:absolute;
}

.login {
	width:95%;
	height:25px;
	margin:5px;
	font-size:16px;
}

.signup {
	width:95%;
	height:25px;
	margin:5px;
	font-size:16px;
}

#loginbutton {
	float:right;
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #E65151), color-stop(1, #) );
	background: -moz-linear-gradient( center top, #E65151 0%, #B05953 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E65151', endColorstr='#B05953');
	background-color: #E65151;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-top:3%;
	margin-right:2%;
	padding:3px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 14px;
	width: 80px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#loginbutton:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #B05953), color-stop(1, #E65151) );
	background: -moz-linear-gradient( center top, #B05953 0%, #E65151 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B05953', endColorstr='#E65151');
	background-color: #B05953;
}
#loginbutton:active {
	position: relative;
	top: 1px;
	left: 0px;
}

#register {
	float:right;
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #55C4E6), color-stop(1, #7EE2E6) );
	background: -moz-linear-gradient( center top, #55C4E6 0%, #7EE2E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55C4E6', endColorstr='#7EE2E6');
	background-color: #55C4E6;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-top:2%;
	margin-right:2%;
	padding:4px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 14px;
	width: 100px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#register:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #7EE2E6), color-stop(1, #55C4E6) );
	background: -moz-linear-gradient( center top, #7EE2E6 0%, #55C4E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7EE2E6', endColorstr='#55C4E6');
	background-color: #7EE2E6;
}
#register:active {
	position: relative;
	top: 1px;
	left: 0px;
}


#welcomemessage {
	color:#CCEEFF;
	font-weight:bold;
	padding:0;
	top:0;
	margin-top:6px;
	display:block;
	float:left;
	margin-left:20px;
}

#new_review {
	text-decoration:none;
	padding:6px;
	margin:0 auto;
	margin-top:8px;
	white-space:normal;
	position:relative;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#FF0019;
	color:white;
	font:bold 14px 'Trebuchet MS';
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}

#navigation {
	width:999px;
	height:50px;
	border:1px solid #000000;
	background:#AFB7D3;
}

#navigationList {
	padding:0;
	position:relvative;
	height:100%;
	margin:0;
	display:inline;
}

#navigationList li {
	display:inline-block;
	list-style-type:none;
	margin-left:0;
	margin-right:0;
	height:100%;
	width:140px;
	text-align:center;
	display:relative;
}

.navbut {
	text-decoration:none;
	font:bold 18px 'Trebuchet MS';
	margin:auto;
	color:#3377AA;
	position:relative;
	width:100%;
	height:71%;
	padding-top:14px;
	display:inline-block;
}

.navbut:hover{
	background:#AFF7D3
}

#Tabs {
	width:1000px;
	position:absolute;
	clear:both;
	left:50%;
	margin-left:-500px;
	top:85px;
	bottom:0;
}

#allcontent {
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	background:#FFFFFF;
	bottom:0;
	top:52px;
	overflow:auto;
	width:100%;
	position:absolute;
}

#content_1, #content_3 {display:none;}

#profile_info {
	display:inline-block;
	width:23%;
	padding-left:20px;
}

#hiddenAge {
	width:40px;
}

#hiddenAgeSubmit {
	padding:2px;
	position:relative;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#FF0019;
	color:white;
	font:bold 14px 'Trebuchet MS';
	cursor:pointer;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

#profie_name {
	padding-left:40px;
	padding-top:0px;
	padding-bottom:0px;
	width:180px;
	display:block;
}

#profile_image {
	padding-left:20px;
	width:200px;
	float:left;
	position:relative;
}

#changeprofileimage {
	position:absolute;
	top:80%;
	left:20%;
	background:#DDDDDD;
	display:none;
	border:1px solid #000000;
}

#changeprofileimagebtn {
	text-decoration:none;
}

#profile_stats {
	margin-top:20px;
	display:inline-block;
}

#profilefeed {
	position:relative;
	overflow:auto;
	float:right;
	display:inline-block;
	width:680px;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	border-left:1px solid #000000;
}

#reviewDate {
	float:right;
}

#myactivity {
	position:relative;
	display:inline;
}

#myactivitylabel {
	display:block;
	margin-top:5px;
	
}

.profileReview {
	border:1px solid #000000;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	display:block;
	padding:15px;
	background:#F3F3F3;
}

.profileReview:hover {
	background:#E3E3E3;
}

#searching {
	position:relative;
	border:3px solid #00FF00;
	height:20px;
	width:50px;
	display:inline-block;
}

#search_field {
	width:240px;
	margin-top:1%;
	margin-left:35%;
	font-size:16px;
	display:inline;
}

#search_btn {
	position:relative;
	width:13%;
	top:0%;
	left:5%;
	letter-spacing:1px;
	border:1px solid #000000;
	background:#30AACF;
	color:white;
	font:bold 18px 'Trebuchet MS';
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

p {
	padding-left: 15px;
}

#homebutton {
	padding-left:3%;
	text-decoration:none;
	font:bold 18px 'Trebuchet MS';
	cursor:pointer;
	letter-spacing:1.2px;
	color:#EEAD0E;
}

#reviewlabel {
	font: bold 18px 'Trebuchet MS';
	margin-left:2%;
}

#reviewbody {
	margin-left:2%;
	margin-right:2%;
	width:95%;
	height:250px;
	margin-bottom:10px;
	margin-top:5px;
	resize:none;
	font-size:18px;
}

#artistlabel {
	font: bold 18px 'Trebuchet MS';
	margin-left:2%;
}

#inputAlbum {
	margin-left:2%;
	margin-right:2%;
	width: 85%;
	margin-bottom:2%;
	font-size:16px;
	display:inline;
}

#newreviewbtn {
	float:right;
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #55C4E6), color-stop(1, #7EE2E6) );
	background: -moz-linear-gradient( center top, #55C4E6 0%, #7EE2E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55C4E6', endColorstr='#7EE2E6');
	background-color: #55C4E6;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-right:25px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 14px;
	width: 100px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#newreviewbtn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #7EE2E6), color-stop(1, #55C4E6) );
	background: -moz-linear-gradient( center top, #7EE2E6 0%, #55C4E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7EE2E6', endColorstr='#55C4E6');
	background-color: #7EE2E6;
}
#newreviewbtn:active {
	position: relative;
	top: 1px;
	left: 0px;
}

#artistlookupbtn {
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #E65151), color-stop(1, #) );
	background: -moz-linear-gradient( center top, #E65151 0%, #B05953 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E65151', endColorstr='#B05953');
	background-color: #E65151;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin: 5px 5px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 14px;
	width: 80px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#artistlookupbtn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #B05953), color-stop(1, #E65151) );
	background: -moz-linear-gradient( center top, #B05953 0%, #E65151 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B05953', endColorstr='#E65151');
	background-color: #B05953;
}
#artistlookupbtn:active {
	position: relative;
	top: 1px;
	left: 0px;
}


#artistlisting {
	text-decoration:none;
	list-style-type: none;
	cursor:pointer;
}

.searchresult {
	border:1px solid #000000;
	width:200px;
	margin-left:50px;
	padding-right:10px;
	margin-bottom:20px;
	display:inline-block;
}

.searchresult:hover{
	background:#CCCCCC;
	cursor:pointer;
}

.searchresulta {
	text-decoration:none;
	color:black;
}
.searchresultactive {
	border:1px solid #000000;
	width:200px;
	margin-left:50px;
	padding-right:10px;
	margin-bottom:20px;
	display:inline-block;
	background-color:#EECC44;
}

#albumArt {
	left:100px;
	position:relative;
}

#maincontainer {
	width:1000px;
	position:absolute;
	left:50%;
	margin-left:-500px;
	top:85px;
	bottom:0;
}

#followerslist {
	position:relative;
	width:42%;
	display:inline-block;
	margin-left:30px;
	border-radius:15px;
	-moz-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	-webkit-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	box-shadow: 0px 0px 15px 8px #CCCCCC;
  	background-color:#EEBBCC;
}

#followinglist {
	position:relative;
	width:42%;
	display:inline-block;
	float:right;
	margin-right:30px;
	border-radius:15px;
	-moz-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	-webkit-box-shadow: 0px 0px 15px 8px #CCCCCC;
  	box-shadow: 0px 0px 15px 8px #CCCCCC;
  	background-color:#CCBBEE;
}

#followerstitle {
	text-align:center;
}

#followingtitle {
	text-align:center;
}

.followingCard {
	list-style-type:none;
	border:1px solid #000000;
	text-align:center;
	margin-left:20px;
	height:40px;
	width:50%;
	background-color:#BBAADD;
	border-radius:15px;
	padding-top:15px;
}

.followerCard {
	list-style-type:none;
	border:1px solid #000000;
	text-align:center;
	margin-left:20px;
	height:40px;
	width:50%;
	background-color:#DDAABB;
	border-radius:15px;
	padding-top:15px;
}

.followingCardLink {
	text-decoration:none;
	font-size:22px;
}

#searchfriendsinput {
	margin-left:30px;
	font-size:16px;
}

#searchfriendsbtn {
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #E65151), color-stop(1, #B05953) );
	background: -moz-linear-gradient( center top, #E65151 0%, #B05953 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E65151', endColorstr='#B05953');
	background-color: #E65151;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin: 5px 5px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 18px;
	width: 150px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#searchfriendsbtn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #B05953), color-stop(1, #E65151) );
	background: -moz-linear-gradient( center top, #B05953 0%, #E65151 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B05953', endColorstr='#E65151');
	background-color: #B05953;
}
#searchfriendsbtn:active {
	position: relative;
	top: 1px;
	left: 0px;
}


#potentialsList {
	margin-left:30px;
	margin-right:30px;
}

.checkboxElement {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:inline-block;
	list-style-type:none;
	border:1px solid #888888;
	background:#DDDDDD;
	color:#AAAAAA;
	padding:20px;
}

.checkboxSelected {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:inline-block;
	list-style-type:none;
	border:1px solid #888888;
	background:#999999;
	color:#000000;
	padding:20px;
}

#addfriends {
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #93A3E6), color-stop(1, #617DC7) );
	background: -moz-linear-gradient( center top, #93A3E6 0%, #617DC7 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93A3E6', endColorstr='#617DC7');
	background-color: #93A3E6;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-left:30px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 18px;
	width: 150px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#addfriends:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #617DC7), color-stop(1, #93A3E6) );
	background: -moz-linear-gradient( center top, #617DC7 0%, #93A3E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#617DC7', endColorstr='#93A3E6');
	background-color: #617DC7;
}
#addfriends:active {
	position: relative;
	top: 1px;
	left: 0px;
}

#searchartistsbtn {
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #E65151), color-stop(1, #B05953) );
	background: -moz-linear-gradient( center top, #E65151 0%, #B05953 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E65151', endColorstr='#B05953');
	background-color: #E65151;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-left:115px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 18px;
	width: 170px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

#searchartistsbtn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #B05953), color-stop(1, #E65151) );
	background: -moz-linear-gradient( center top, #B05953 0%, #E65151 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B05953', endColorstr='#E65151');
	background-color: #B05953;
}

#searchartistsbtn:active {
	position: relative;
	top: 1px;
	left: 0px;
}

#searchartistsinput {
	display:inline;
	margin-left:50px;
	font-size:30px;
}

#orlabel {
	display:inline;
	margin-left:100px;
	margin-right:100px;
}

#searchalbumsinput {
	display:inline;
	font-size:30px;
}

#searchalbumsbtn {
	float:right;
	border: 1px solid #687678;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #55C4E6), color-stop(1, #7EE2E6) );
	background: -moz-linear-gradient( center top, #55C4E6 0%, #7EE2E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55C4E6', endColorstr='#7EE2E6');
	background-color: #55C4E6;
	-moz-box-shadow: inset 0px 1px 2px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	box-shadow: inset 0px 1px  2px 0px #FFFFFF;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	margin-right:140px;
	padding: 4px 0px;
	color: #E4EBF0;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-size: 18px;
	width: 170px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
#searchalbumsbtn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #7EE2E6), color-stop(1, #55C4E6) );
	background: -moz-linear-gradient( center top, #7EE2E6 0%, #55C4E6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7EE2E6', endColorstr='#55C4E6');
	background-color: #7EE2E6;
}
#searchalbumsbtn:active {
	position: relative;
	top: 1px;
	left: 0px;
}

#permalinkReview {
	border:1px solid #000000;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	display:block;
	padding:15px;
	background:#F3F3F3;
	margin:0 40px;
}

#artistTitle {
	font-size:36px;
	text-align:center;
	font-family: Georgia, serif;
}

#albumList {
	margin-left:125px;
	height:300px;
	overflow:auto;
	column-count:3;
	column-width:200px;
	list-style-type:none;
	width:700px;
}

.albumListEntry {
	border:1px solid #000000;
	float:left;
	width:200px;
	height:80px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	text-align:center;
	padding-top:50px;
	font-size:24px;
	font-family: Georgia, serif;
	background:#FFFFFF;
}

.albumListEntry:hover {
	background:#DBDBDB;
}

.albumListEntryLink {
	color:#000000;
	text-decoration:none;
}

#artistlisting {
	margin-left:100px;
	font-size:32px;
	color:#444444;
}

#albumListing {
	margin-left:100px;
	font-size:28px;
	color:#222222;
	border:1px solid #000000;
	width:450px;
	padding:10px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	background: #DDDDDD;
}

#artistListingInAlbum {
	text-decoration:none;
	color:#444444;
	margin-left:40px;
	font-size:18px;
}