<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        
        <script>
        $( document ).ready(function() {
	
			$("#ratingUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: true
				}				
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
			
			$("#ratingNotUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: false
				}
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
		});
		
        </script>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="logout" href="/logout">Logout</a>
	<form method="post" action="/albums">
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/reviews">Reviews</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
	  <div id="allcontent">
	 	<center><h1 id="albumTitle">Reviews for "{{album}}" by <a href="/artists/{{artist}}" style="text-decoration:none;color:black">{{artist}}</a></h1></center>
		{% if reviews|length == 0: %}
			<p>This album has no reviews! Click <a href="/newreview">here</a> to be the first one to write one</p>
		{% else: %}
			<ul id="reviewList">
			{% for review in reviews: %}
				<div class="reviewContainer"><span id="reviewerName">{{review.reviewer}}</span> wrote:
					<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
					<br>
					<div id="reviewText">{{review.reviewText}}</div>
					<input type="submit" id="ratingUseful" value="This review nailed it"></input>
					<input type="submit" id="ratingNotUseful" value="This review sucked"></input>
					<div id="hiddenThanks">Thanks!</div>
					<br>
				</div>
				<br>
			{% endfor %}
			</ul>
		{% endif %}
	  </div>
	</div>
	</form>
</body>
</html>
