<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <link rel="stylesheet" type="text/css" href="/stylesheets/flat-ui.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        
        <script>
        $( document ).ready(function() {
			
			// If the user clicked to say this rating was useful, save that data
			// and send it to our server with a post request
			$("#ratingUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: true
				}				
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
			
			// If the user clicked to say this rating was not useful, save that data
			// and send it to our server with a post request
			$("#ratingNotUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: false
				}
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
			
			// Hide menus on any click so the user can click away from them to hide them
			$('html').click(function(event) {
				// Hide menus
				var loginTrigger = $("#login-trigger");
				loginTrigger.next('#login-content').toggle(false);
				loginTrigger.removeClass('active');
				
				var signupTrigger = $("#signup-trigger");
				signupTrigger.next('#signup-content').toggle(false);
				signupTrigger.removeClass('active');
				
				var meTrigger = $("#me-trigger");
				//meTrigger.next('#me-content').toggle(false);
				meTrigger.next('#me-content').slideUp(100);
				meTrigger.removeClass('active');
			});
			
			// If we clicked on the login box, though, don't do the code from above
			$("#login-content").click(function(event){
				event.stopPropagation();
			});
			
			// Or if we clicked on the signup box, though, don't do the code from above
			$("#signup-content").click(function(event){
				event.stopPropagation();
			});

			// Handling the login trigger to show the dropdown
			$('#login-trigger').click(function(event){
				event.stopPropagation();
				var signupTrigger = $("#signup-trigger");
				if (signupTrigger.hasClass('active') || !$(this).hasClass('active')) {
					signupTrigger.next('#signup-content').toggle(false);
					signupTrigger.removeClass('active');
					$(this).next('#login-content').toggle(true);
					$(this).addClass('active');
				} else {
					$(this).next('#login-content').toggle(false);
					$(this).toggleClass('active');
				}
			});
			
			// Handling the signup trigger to show the dropdown
			$('#signup-trigger').click(function(event){
				event.stopPropagation();
				var loginTrigger = $("#login-trigger");
				if (loginTrigger.hasClass('active') || !$(this).hasClass('active')) {
					loginTrigger.next('#login-content').toggle(false);
					loginTrigger.removeClass('active');
					$(this).next('#signup-content').toggle(true);
					$(this).addClass('active');
				} else {
					$(this).next('#signup-content').toggle(false);
					$(this).toggleClass('active');
				}
			});
			
			// If the user clicked to write a review, show the text field, rating list, and submit button
			// so they can write a review
			$("#write_review").click(function() {
				var reviewBody = $("#reviewbody");
				if (reviewBody.css('display') == 'none') {
					$("#reviewbody").slideDown();
					$("#newreviewbtn").css('display', 'block');
					$("#ratingContainer").slideDown();
				} else {
					$("#reviewbody").slideUp();
					$("#newreviewbtn").css('display', 'none');
					$("#ratingContainer").slideUp();
				};
			});
			
			// If we clicked on the profile box, though, don't do the code from above
			$("#me-content").click(function(event){
				event.stopPropagation();
			});
			
			// Handling the profile trigger to show the dropdown
			$('#me-trigger').click(function(event){
				event.stopPropagation();
				var signupTrigger = $("#signup-trigger");
				if ($(this).hasClass('active')) {
					//$(this).next('#me-content').toggle(false);
					$(this).next('#me-content').slideUp(100);
					$(this).toggleClass('active');
				} else {
					//$(this).next('#me-content').toggle(true);
					$(this).next('#me-content').slideDown(100);
					$(this).addClass('active');
				}
			});
		});
		
		function ratingSwitch(active) {
			var oldChosen = $("#ratingNumberChosen");
			if (oldChosen) {
				var oldChosenNumber = oldChosen.text();
				$("#ratingNumberChosen").attr("id", "rating" + oldChosenNumber);
			}
			var newChosenNumber = active.toString();
			$("#rating" + newChosenNumber).attr("id", "ratingNumberChosen");
			$("#rating").attr("value", newChosenNumber);
		}
		
        </script>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		<nav id="loginNav">
			<ul>
				{% if user: %}
				<li id="me-container">
					<a id="me-trigger" href="#">
						{{user.username}}
					</a>
					<div id="me-content">
						<img id="smallProfileImg" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=28 height=28> 
						<span id="profileDropdownUsername">{{user.username}}</span>
						<br>
						<table>
							<tr>
								<td>
									<a href="/home" style="color:#700000;margin-left:65px;">My Page<span id="emptySpan"></span></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="/logout" style="color:#700000;margin-left:65px;">Logout<span id="emptySpan"></span></a>
								</td>
							</tr>
						</table>
					</div>
				</li>
		        {% else %}
				<li id="login-container">
					<a id="login-trigger" href="#">
						Log in
					</a>
					<div id="login-content">
						<form method="post" action="/">
							<fieldset id="inputs">
								<input id="login_username" name="username" placeholder="Username" required>   
								<input id="login_password" type="password" name="password" placeholder="Password" required>
							</fieldset>
							<fieldset id="actions">
								<button class="btn btn-wide btn-info mrm" type="submit">Log In</button>
								<input name="loginbutton" type="hidden" value="login"/>
							</fieldset>
						</form>
					</div>                     
				</li>
				<li id="signup-container">
					<a id="signup-trigger" href="#">
						Sign up
					</a>
					<div id="signup-content">
						<form method="post" action="/">
							<fieldset id="inputs">
								<input id="signup_username" name="signupUsername" placeholder="Username" required>
								<input id="signup_email" name="signupEmail" placeholder="Email" required>
								<input id="signup_password" type="password" name="signupPassword" placeholder="Password" required>
							</fieldset>
							<fieldset id="actions">
								<button class="btn btn-wide btn-danger mrm" type="submit">Sign up</button>
								<input name="signupbutton" type="hidden" value="signup"/>
							</fieldset>
						</form>
					</div>
				</li>
        		{% endif %}
			</ul>
		</nav>
	</div>
	<div id="maincontainer">
		<div id="description">
			<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
		</div>
		<div id="mission">what do you have to say about music?</div>
		<br>
		<br>
		<div id="searchBar">
			<form method="post" action="/reviews">
			<input type="text" id="searchinput" placeholder="Enter artist or album name" name="searchinput">
			<button class="btn btn-wide btn-primary mrm" type="submit" style="background-color:#700000" id="searchbtn">Search</button>
			</form>
		</div>
		<form method="post" action="/albums/mb_id">
			<input type="hidden" name="artisthidden" id="artisthidden" value="{{artist}}"></input>
			<input type="hidden" name="albumhidden" id="albumhidden" value="{{album}}"></input>
			<input type="hidden" name="mb_id" id="mb_id" value="{{mb_id}}"></input>
			{% if user: %}
			<a id="write_review" name="writeReviewButton" href="#">Write a Review</a>
			{% else: %}
				<div style="display:inline-block; margin-top:20px; margin-left:20px;">Want to write a review? Sign up!</div>
			{% endif %}
			<div id="ratingContainer">
				<label id="rateItLabel">Rate it</label>
				<br>
				<div id="ratingNumbers">
				<span class="ratingNumber" id="rating1" onclick="javascript:ratingSwitch(1);">1</span><br>
				<span class="ratingNumber" id="rating2" onclick="javascript:ratingSwitch(2);">2</span><br>
				<span class="ratingNumber" id="rating3" onclick="javascript:ratingSwitch(3);">3</span><br>
				<span class="ratingNumber" id="rating4" onclick="javascript:ratingSwitch(4);">4</span><br>
				<span class="ratingNumber" id="rating5" onclick="javascript:ratingSwitch(5);">5</span><br>
				<span class="ratingNumber" id="rating6" onclick="javascript:ratingSwitch(6);">6</span><br>
				<span class="ratingNumber" id="rating7" onclick="javascript:ratingSwitch(7);">7</span><br>
				<span class="ratingNumber" id="rating8" onclick="javascript:ratingSwitch(8);">8</span><br>
				<span class="ratingNumber" id="rating9" onclick="javascript:ratingSwitch(9);">9</span><br>
				<span class="ratingNumber" id="rating10" onclick="javascript:ratingSwitch(10);">10</span>
				<input type="hidden" name="rating" id="rating" value=""></input>
				</div>
			</div>
			<textarea id="reviewbody" name="reviewbody"></textarea>
			<input type="submit" name="newreviewbtn" id="newreviewbtn">
		</form>
	 	<br>
	 	<br>
	 	<form method="post" action="/albums">
	 	<center><h1 id="albumTitle">Reviews for "{{album}}" by <a href="/artists/{{artist}}" style="text-decoration:none;color:black">{{artist}}</a></h1></center>
		{% if reviews|length == 0: %}
			<p>This album has no reviews-- you should write one!</p>
		{% else: %}
			<ul id="reviewList">
			{% for review in reviews: %}
				<div class="reviewContainer">
					{% if review.rating == None: %}
						<span id="reviewRating">5 / 10<span>
					{% else: %}
						<span id="reviewRating">{{review.rating}} / 10</span>
					{% endif %}
					<br>
					<span id="reviewerName">{{review.reviewer}}</span> wrote:
					<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
					<br>
					<div id="reviewText">{{review.reviewText}}</div>
					<input type="submit" id="ratingUseful" value="This review nailed it"></input>
					<input type="submit" id="ratingNotUseful" value="This review sucked"></input>
					<div id="hiddenThanks">Thanks!</div>
					<br>
				</div>
				<br>
			{% endfor %}
			</ul>
		{% endif %}
		</form>
	</div>
</body>
</html>
