<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        
        <script>
        $( document ).ready(function() {
	
			$("#ratingUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: true
				}				
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
			
			$("#ratingNotUseful").click( function(){
				var parent = $(this).parent();
				var reviewer = parent.children("#reviewerName");
								
				var myData = {
					user: reviewer.text(),
					useful: false
				}
				// fire off the request
				$.ajax({
					type: "POST",
					url: "/albums/{{artist}}",
					data: myData,
					success: function(data) {
						// Change the value of our buttons to reflect our new following status
						var btnOne = parent.children("#ratingUseful");
						btnOne.attr('type', 'hidden');
						var btnTwo = parent.children("#ratingNotUseful");
						btnTwo.attr('type', 'hidden');
						var hiddenThanks = parent.children("#hiddenThanks");
						hiddenThanks.css({'display': 'inline-block'});
					}
				});
				return false;
			});
			
			$('#login-trigger').click(function(){
				$(this).next('#login-content').toggle();
				$(this).toggleClass('active');
			
				if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
					else $(this).find('span').html('&#x25BC;')
			});
		});
		
        </script>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		{% if user: %}
		  <a id="logout" href="/logout">Logout</a>
        {% else %}
            <a href="/signup"><div id="signupText">Sign up</div></a>
			<nav id="loginNav">
				<ul>
					<li id="login">
						<a id="login-trigger" href="#">
							Log in
						</a>
						<div id="login-content">
							<form method="post">
								<fieldset id="inputs">
									<input id="login_username" name="username" placeholder="Your email address" required>   
									<input id="login_password" type="password" name="password" placeholder="Password" required>
								</fieldset>
								<fieldset id="actions">
									<input type="submit" id="login_submit" name="loginbutton" value="Log in">
								</fieldset>
							</form>
						</div>                     
					</li>
				</ul>
			</nav>
        {% endif %}
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<form method="post" action="/albums">
	<div id="maincontainer">
	 	<center><h1 id="albumTitle">Reviews for "{{album}}" by <a href="/artists/{{artist}}" style="text-decoration:none;color:black">{{artist}}</a></h1></center>
		{% if reviews|length == 0: %}
			<p>This album has no reviews! Click <a href="/newreview">here</a> to be the first one to write one</p>
		{% else: %}
			<ul id="reviewList">
			{% for review in reviews: %}
				<div class="reviewContainer">
					{% if review.rating == None: %}
						<span id="reviewRating">5 / 10<span>
					{% else: %}
						<span id="reviewRating">{{review.rating}} / 10</span>
					{% endif %}
					<br>
					<span id="reviewerName">{{review.reviewer}}</span> wrote:
					<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
					<br>
					<div id="reviewText">{{review.reviewText}}</div>
					<input type="submit" id="ratingUseful" value="This review nailed it"></input>
					<input type="submit" id="ratingNotUseful" value="This review sucked"></input>
					<div id="hiddenThanks">Thanks!</div>
					<br>
				</div>
				<br>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	</form>
</body>
</html>
