<!DOCTYPE HTML>
<html>
        <head>
                <title>Grey Matter</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
                <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
				<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
                <script>
                
                $(document).ready(function(){
					$('html').click(function(event) {
						// Hide menus on any click so the user can click away from them to hide them
						var loginTrigger = $("#login-trigger");
						loginTrigger.next('#login-content').toggle(false);
						loginTrigger.removeClass('active');
				
						var signupTrigger = $("#signup-trigger");
						signupTrigger.next('#signup-content').toggle(false);
						signupTrigger.removeClass('active');
						
						var meTrigger = $("#me-trigger");
						//meTrigger.next('#me-content').toggle(false);
						meTrigger.next('#me-content').slideUp(100);
						meTrigger.removeClass('active');
					});
			
					// If we clicked on the login box, though, don't do the code from above
					$("#login-content").click(function(event){
						event.stopPropagation();
					});
			
					// Or if we clicked on the signup box, though, don't do the code from above
					$("#signup-content").click(function(event){
						event.stopPropagation();
					});

					// Handling the login trigger to show the dropdown
					$('#login-trigger').click(function(event){
						event.stopPropagation();
						var signupTrigger = $("#signup-trigger");
						if (signupTrigger.hasClass('active') || !$(this).hasClass('active')) {
							signupTrigger.next('#signup-content').toggle(false);
							signupTrigger.removeClass('active');
							$(this).next('#login-content').toggle(true);
							$(this).addClass('active');
						} else {
							$(this).next('#login-content').toggle(false);
							$(this).toggleClass('active');
						}
					});
			
					// Handling the signup trigger to show the dropdown
					$('#signup-trigger').click(function(event){
						event.stopPropagation();
						var loginTrigger = $("#login-trigger");
						if (loginTrigger.hasClass('active') || !$(this).hasClass('active')) {
							loginTrigger.next('#login-content').toggle(false);
							loginTrigger.removeClass('active');
							$(this).next('#signup-content').toggle(true);
							$(this).addClass('active');
						} else {
							$(this).next('#signup-content').toggle(false);
							$(this).toggleClass('active');
						}
					});
					
					// If we clicked on the profile box, though, don't do the code from above
					$("#me-content").click(function(event){
						event.stopPropagation();
					});
			
					// Handling the profile trigger to show the dropdown
					$('#me-trigger').click(function(event){
						event.stopPropagation();
						var signupTrigger = $("#signup-trigger");
						if ($(this).hasClass('active')) {
							//$(this).next('#me-content').toggle(false);
							$(this).next('#me-content').slideUp(100);
							$(this).toggleClass('active');
						} else {
							//$(this).next('#me-content').toggle(true);
							$(this).next('#me-content').slideDown(100);
							$(this).addClass('active');
						}
					});
		  		});
                
                </script>
        </head>
<body>
		{% if user: %}
			<header>
				<ul class="left">	
					<li><a href="#" title="Grey Matter"><img src="/stylesheets/greymatterlogo2.png" alt="Logo" width=42 height=42></a></li>
					<li><p>grey matter</p></li>
					<li>
						<form method="post" action="/reviews">
						<input id="input" type="text" placeholder="Enter artist or album name" name="searchinput">
						<button id="button" type="submit"><i class="fa fa-search"></i></button>
						</form>
					</li>
				</ul>	
				<ul class="right">
					<li><a id="me-trigger"><img src="/stylesheets/profile-pic.jpg" alt="profile pic" width=32 height=32></a><!--eventually use profile pic here-->
						<ul class="dropdown"> 
							<li><a href="/home">Profile</a></li>
							<li><a href="#">About</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
					<li><button id="button" type="submit"><i class="fa fa-pencil"></i> Review</button></li>
				</ul>	
			</header>
		{% else %}
			<header>
				<ul class="landing-page-left">	
					<li><a href="#" title="Grey Matter"><img src="/stylesheets/greymatterlogo2.png" alt="Logo" width=42 height=42></a></li>
					<li><p>grey matter</p></li>
				</ul>	
				<ul class="landing-page-right">
					<li>
						<form method="post" action="/signup">
						<button class="sign-up-button" type="submit" value="Signup">Sign up</button>
						</form>
					</li>
					<li>
						<ul>
							<form method="post" action="/reviews">
								<li><button id="button" type="submit" value="Login">Login</li>
								<li><input id="input" type="password" name="password" placeholder="Password" required></li>
								<li><input id="input" type="post" name="username" placeholder="Username" required></li>      
							</form>
						</ul>			
					</li>
				</ul>	
			</header>
        {% endif %}
        <main>
		<section class="content-left">
				<div class="profile">
					<img src="/stylesheets/greymatterlogo2.png" alt="Unknown Person" width="100" height="100">
					<h3>{{artist}}</h3>
					<table>
						<tr class="table-header">
							<th>Reviews</th>
							<th>Following</th>
							<th>Followers</th>
						</tr>
						<tr class="table-numbers">
							<th>{{user.numberOfReviews}}</th>
							<th>{{user.following}}</th>	
							<th>{{user.followers}}</th>	
						</tr>
					</table>
				</div>	
				<ul class="top-10">
					<h3>Top 10</h3>
				</ul>
			</section>
			<section class="content-right">
				<h3>albums | history</h3>
					<div class="search-list">
	  					{% for album in albums: %}
		  				<ul>
		  					<li><img src="http://www.coverartarchive.com/release/{{album['mb-id']}}/front" onerror="this.src='/stylesheets/greymatterlogo2.png';"><h4><a href="/albums/{{album['mb-id']}}">{{album['title']}}</a> ({{album['date']}})<a href="/albums/{{album['mb-id']}}"><em>{{album['album']}}</em></a></h4></li>	
		  				</ul>
		  			</div>		
	  			{% endfor %}	
			</section>
	</main>
</body>
</html>
