<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
                <script>
                
                $(document).ready(function(){
					$('html').click(function() {
						// Hide menus
						var loginTrigger = $("#login-trigger");
						loginTrigger.next('#login-content').toggle(false);
						loginTrigger.removeClass('active');
				
						var signupTrigger = $("#signup-trigger");
						signupTrigger.next('#signup-content').toggle(false);
						signupTrigger.removeClass('active');
					});
			
					$("#login-content").click(function(){
						event.stopPropagation();
					});
			
					$("#signup-content").click(function(){
						event.stopPropagation();
					});

					$('#login-trigger').click(function(){
						event.stopPropagation();
						var signupTrigger = $("#signup-trigger");
						if (signupTrigger.hasClass('active') || !$(this).hasClass('active')) {
							signupTrigger.next('#signup-content').toggle(false);
							signupTrigger.removeClass('active');
							$(this).next('#login-content').toggle(true);
							$(this).addClass('active');
						} else {
							$(this).next('#login-content').toggle(false);
							$(this).toggleClass('active');
						}
					});
			
					$('#signup-trigger').click(function(){
						event.stopPropagation();
						var loginTrigger = $("#login-trigger");
						if (loginTrigger.hasClass('active') || !$(this).hasClass('active')) {
							loginTrigger.next('#login-content').toggle(false);
							loginTrigger.removeClass('active');
							$(this).next('#signup-content').toggle(true);
							$(this).addClass('active');
						} else {
							$(this).next('#signup-content').toggle(false);
							$(this).toggleClass('active');
						}
					});
		  		});
                
                </script>
        </head>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
        {% if user: %}
		  <a id="logout" href="/logout">Logout</a>
        {% else %}
			<nav id="loginNav">
				<ul>
					<li id="login">
						<a id="login-trigger" href="#">
							Log in
						</a>
						<div id="login-content">
							<form method="post" action="/">
								<fieldset id="inputs">
									<input id="login_username" name="username" placeholder="Username" required>   
									<input id="login_password" type="password" name="password" placeholder="Password" required>
								</fieldset>
								<fieldset id="actions">
									<input type="submit" id="login_submit" name="loginbutton" value="Log in">
								</fieldset>
							</form>
						</div>                     
					</li>
					<li id="signup">
						<a id="signup-trigger" href="#">
							Sign up
						</a>
						<div id="signup-content">
							<form method="post" action="/">
								<fieldset id="inputs">
									<input id="signup_username" name="signupUsername" placeholder="Username" required>
									<input id="signup_email" name="signupEmail" placeholder="Email" required>
									<input id="signup_password" type="password" name="signupPassword" placeholder="Password" required>
								</fieldset>
								<fieldset id="actions">
									<input type="submit" id="signup_submit" name="signupbutton" value="Join">
								</fieldset>
							</form>
						</div>
					</li>
				</ul>
			</nav>
        {% endif %}
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<div id="maincontainer">
	 	<h1 id="artistTitle">{{artist}}</h1>
		<br>
		<table id="albumList">
		{% for album in albums: %}
			<form method="post" action="/album" id="{{album['mb-id']}}_submit">
				<tr class="albumListEntry">
				<td><img src="http://www.coverartarchive.com/release/{{album['mb-id']}}/front" width="50" height="50" align="middle" style="float:left;">
				<input type="hidden" name="artist" id="artist" value="{{artist}}">
				<input type="hidden" name="album" id="album" value="{{album['title']}}">
				<input type="hidden" name="mb_id" id="mb_id" value="{{album['mb-id']}}">
				<a href="javascript:{}" onclick="document.getElementById('{{album['mb-id']}}_submit').submit();" class="albumListEntryLink"><span id="emptySpan"></span>{{album['title']}}</a>			
				<p style="font-size:14px;margin-left:60px;">Released in {{album['date']}}</p>
				</td>
				</tr>
			</form>
		{% endfor %}
		</table>
	</div>
</body>
</html>
