<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
                <script>
                
                </script>
        </head>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		<a id="logout" href="/logout">Logout</a>
		</form>
	</div>
	<form method="post" action="/reviews">
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
	  <div id="allcontent">
	 	<h1 id="artistTitle">{{artist}}</h1>
		<br>
		<table id="albumList">
		{% for album in albums: %}
			<tr class="albumListEntry">
			<td><a href="/albums/{{artist}}+{{album['title']}}" class="albumListEntryLink"><span id="emptySpan"></span>{{album['title']}}</a>
			<p style="font-size:14px">Released in {{album['date']}}</p>
			</td>
			</tr>
		{% endfor %}
		</table>
	  </div>
	</div>
	</form>
</body>
</html>
