<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <link rel="stylesheet" type="text/css" href="/stylesheets/flat-ui.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
				<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        <script type="text/javascript">
        
        function checkboxClicked(a, user) {
        	var element = document.getElementById("checkboxElement_"+a);
        	var input = document.getElementById("checkboxInput_"+a);

        	if (element.className == "checkboxSelected") {
        		element.setAttribute("class", "checkboxElement");
        		input.value = "";
        	} else {
        		element.setAttribute("class", "checkboxSelected");
        		input.value = user;
        	}
        }
        
        </script>
		<script>
		$( document ).ready(function() {
			// Hide menus on any click so the user can click away from them to hide them
			$('html').click(function(event) {
				// Hide menus
				var meTrigger = $("#me-trigger");
				//meTrigger.next('#me-content').toggle(false);
				meTrigger.next('#me-content').slideUp(100);
				meTrigger.removeClass('active');
			});
			
			// If we clicked on the profile box, though, don't do the code from above
			$("#me-content").click(function(event){
				event.stopPropagation();
			});
			
			// Handling the profile trigger to show the dropdown
			$('#me-trigger').click(function(event){
				event.stopPropagation();
				var signupTrigger = $("#signup-trigger");
				if ($(this).hasClass('active')) {
					//$(this).next('#me-content').toggle(false);
					$(this).next('#me-content').slideUp(100);
					$(this).toggleClass('active');
				} else {
					//$(this).next('#me-content').toggle(true);
					$(this).next('#me-content').slideDown(100);
					$(this).addClass('active');
				}
			});
		});
		</script>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		<nav id="loginNav">
			<ul>
				<li id="me-container">
					<a id="me-trigger" href="#">
						{{user.username}}
					</a>
					<div id="me-content">
						<img id="smallProfileImg" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=28 height=28> 
						<span id="profileDropdownUsername">{{user.username}}</span>
						<br>
						<table>
							<tr>
								<td>
									<a href="/home" style="color:#700000;margin-left:65px;">My Page<span id="emptySpan"></span></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="/logout" style="color:#700000;margin-left:65px;">Logout<span id="emptySpan"></span></a>
								</td>
							</tr>
						</table>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div id="maincontainer">
		<div id="description">
			<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
		</div>
		<br>
		<br>
		<div id="searchBar_home">
			<form method="post" action="/reviews">
			<input type="text" id="searchinput" placeholder="Enter artist or album name" name="searchinput">
			<button class="btn btn-wide btn-primary mrm" type="submit" style="background-color:#700000" id="searchbtn">Search</button>
			</form>
		</div>
		<form method="post" action="/friends">
		<br>
	  	<input type="text" id="searchfriendsinput" placeholder="Search for friends" name="searchfriendsname">
	  	<button class="btn btn-wide btn-primary mrm" type="submit" name="searchfriendsbtn">Search</button>
	  	<br>
	  	<br>
	  	<div>
	  		{% if potentials != None: %}
					<ul id="potentialsList">
				{% for i in range(potentials|length) %}
						<li class="checkboxElement" id="checkboxElement_{{i}}">
							<input type="checkbox" name="checkbox" onchange="checkboxClicked({{i}}, '{{potentials[i].username}}')">{{potentials[i].username}}</input>
							<input name="checkboxInput" type="hidden" value="" id="checkboxInput_{{i}}"/>
						</li>
				{% endfor %}
					</ul>
					<input type="submit" id="addfriends" value="Add Friends" name="addfriendsbtn">
					<br>
					<br>
	  		{% endif %}
	  	</div>
	  	<div id="followerslist">
	  		<h2 id="followerstitle">Followers</h2>
	  		<ul>
	  		{% for followerPair in followerPairs %}
	  			<li class="followerCard"><a class="followingCardLink" href="/user/{{followerPair.follower}}">{{followerPair.follower}}</a></li>
	  		{% endfor %}
	  	</div>
	  	
	  	<div id="followinglist">
	  		<h2 id="followingtitle">Following</h2>
	  		<ul>
	  		{% for followingPair in followingPairs %}
	  			<li class="followingCard"><a class="followingCardLink" href="/user/{{followingPair.following}}">{{followingPair.following}}</a></li>
	  		{% endfor %}
	  		</ul>
	  	</div>
	</div>
	</form>
</body>
</html>
