<!DOCTYPE HTML>
<html>
	<head>
		<title>The Grey Matter Review</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
	</head>
<body>
	<div id="top">
		<h2 id="title">Grey Matter Review</h2>
	</div>
	<form method="post">
	<div id="inputforms">
	<div id="signin">
		<label id="signinlabel">Log in</label>
		<br>
		<input class="login" type="text" placeholder="Username" value="{{username}}">
		<br>
		<input class="login" type="text" placeholder="Password" value="{{password}}">
		<br>
		<input type="submit" id="loginbutton" value="Log in"> 
	</div>
	<br>
	<div id="description">
		<label id="mission_title">Welcome to the Grey Matter Review</label>
		<br><br>
		<label id="mission_content">Share your taste in music with your friends</label>
	</div>
	<div id="signup">
		<label id="signuplabel">Sign Up</label>
		<br>
		<input id="firstname" type="text" placeholder="First Name">
		<input id="lastname" type="text" placeholder="Last Name">
		<br>
		<input class="signup" type="text" placeholder="Email">
		<br>
		<input class="signup" type="text" placeholder="New Password">
		<br>	
		<input type="submit" id="register" value="Sign up">
	</div>
	</div>
	<div id="links">
		<a href="/" class="link">About</a>
		<a href="/" class="link">Help</a>
		<a href="/" class="link">Jobs</a>
		<a href="/" class="link">Terms</a>
	</div>
	</form>
		
</body>
</html>
