<!DOCTYPE HTML>
<html>
	<head>
		<title>The Grey Matter Review</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
		<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
		
		<script>
		$(document).ready(function(){
				$('#login-trigger').click(function(){
					var signupTrigger = $("#signup-trigger");
					if (signupTrigger.hasClass('active') || !$(this).hasClass('active')) {
						signupTrigger.next('#signup-content').toggle(false);
						signupTrigger.removeClass('active');
						$(this).next('#login-content').toggle(true);
						$(this).addClass('active');
					} else {
						$(this).next('#login-content').toggle(false);
						$(this).toggleClass('active');
					}
				});
				
				$('#signup-trigger').click(function(){
					var loginTrigger = $("#login-trigger");
					if (loginTrigger.hasClass('active') || !$(this).hasClass('active')) {
						loginTrigger.next('#login-content').toggle(false);
						loginTrigger.removeClass('active');
						$(this).next('#signup-content').toggle(true);
						$(this).addClass('active');
					} else {
						$(this).next('#signup-content').toggle(false);
						$(this).toggleClass('active');
					}
				});
		  });
		</script>
	</head>
<body id="newbody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		
		<nav id="loginNav">
			<ul>
				<li id="login">
					<a id="login-trigger" href="#">
						Log in
					</a>
					<div id="login-content">
						<form method="post">
							<fieldset id="inputs">
								<input id="login_username" name="username" placeholder="Username" required>   
								<input id="login_password" type="password" name="password" placeholder="Password" required>
							</fieldset>
							<fieldset id="actions">
								<input type="submit" id="login_submit" name="loginbutton" value="Log in">
							</fieldset>
						</form>
					</div>                     
				</li>
				<li id="signup">
					<a id="signup-trigger" href="#">
						Sign up
					</a>
					<div id="signup-content">
						<form method="post">
							<fieldset id="inputs">
								<input id="signup_username" name="signupUsername" placeholder="Username" required>
								<input id="signup_email" name="signupEmail" placeholder="Email" required>
								<input id="signup_password" type="password" name="signupPassword" placeholder="Password" required>
							</fieldset>
							<fieldset id="actions">
								<input type="submit" id="signup_submit" name="signupbutton" value="Join">
							</fieldset>
						</form>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<br>
	<div id="loginerror">{{login_error}}</div>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Enter artist or album name" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Search" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<div id="recentReviews">
		Latest Reviews:
		<br><br>
		{% for review in reviews: %}
			<div class="profileReview">
			<span id="reviewRating">{{review['rating']}} / 10</span>
			<br>
			Artist: {{review['artist']}}<span style="float:right;">{{review['secondsAgo']}} seconds ago</span>
			<br>
			Album: {{review['album']}}
			<br>
			"{{review['reviewer']}}" said: {{review['reviewText']}}
			</div>
			<br>
		{% endfor %}
	</div>
	</div>
	<div id="links">
		<a href="/" class="link">About</a>
		<a href="/" class="link">Help</a>
		<a href="/" class="link">Jobs</a>
		<a href="/" class="link">Terms</a>
	</div>
	</form>
		
</body>
</html>
