<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
        <script>
        function tabSwitch(active, number) {  
      
    		for (var i=1; i < number+1; i++) {  
      			document.getElementById("content_"+i).style.display = 'none';  
      			document.getElementById("tab_"+i).className = '';  
    		}  
    		document.getElementById("content_"+active).style.display = 'block';  
    		document.getElementById("tab_"+active).className = 'active';      
      
		}  
		
		function editButtonToInput() {
			document.getElementById("editButtonAge").style.display = 'none';
			document.getElementById("hiddenAge").type = "text";
			document.getElementById("hiddenAgeSubmit").type = "submit";
		}
		</script>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		<a id="logout" href="/logout">Logout</a>
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<div id="maincontainer">
		<div id="profile_info">
			<h2 id="profie_name">{{user.username}}</h2>
			<div id="profile_image" onmouseover="document.getElementById('changeprofileimage').style.display='block';" onmouseout="document.getElementById('changeprofileimage').style.display='none';">
				<img src="/stylesheets/GMLOGO.jpg" alt="Unknown Person" width="160" height="180">
				<div id="changeprofileimage"><a href="#" id="changeprofileimagebtn">Edit Profile Image</a></div>
			</div>
			<div id="profile_stats">
				<br>
				<div id="reviewsBox">
					<label class="statLabel">Reviews</label>
					<a href="/friends" style="text-decoration:none;"><div class="numberLabel">{{user.numberOfReviews}}</div></a>
				</div>
				<div id="followingBox">
					<label class="statLabel">Following</label>
					<a href="/friends" style="text-decoration:none;"><div class="numberLabel">{{user.following}}</div></a>
				</div>
				<div id="followersBox">
					<label class="statLabel">Followers</label>
					<a href="/friends" style="text-decoration:none;"><div class="numberLabel">{{user.followers}}</div></a>
				</div>
			</div>
		</div>
		<div id="profilefeed">
			<h2 id="myactivitylabel">My Activity</h2>
			{% if reviews|length == 0: %}
				<p>You've never made a review! Click <a href="/newreview">here</a> to write your first one</p>
			{% endif %}
			{% for review in reviews: %}
				<div class="profileReview">
				{% if not review.rating: %}
					<span id="reviewRating">5 / 10</span>
				{% else: %}
					<span id="reviewRating">{{review.rating}} / 10</span>
				{% endif %}
				<br>
				Artist: <a href="/artists/{{review.artist|escape}}">{{review.artist}}</a>
				<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
				<br>
				Album: <a href="/albums/{{review.artist}}+{{review.album}}">{{review.album}}</a>
				<br>
				Review: {{review.reviewText}}
				</div>
				<br>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
</body>
</html>
