<!DOCTYPE HTML>
<html>
	<head>
		<title>Grey Matter</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/flat-ui.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
		<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/scripts/docs.min.js"></script>
	</head>
<body id="newbody">
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Grey Matter</a>
        </div>
        <ul class="nav navbar-nav">
        	<li>
				<a href="/home">
				<div class="visible-xs"></div>
				<div class="hidden-xs">Home</div>
				</a>
        	</li>
        	<li>
				<a href="/home">
				<div class="visible-xs"></div>
				<div class="hidden-xs">Artists</div>
				</a>
        	</li>
        	<li>
				<a href="/home">
				<div class="visible-xs"></div>
				<div class="hidden-xs">Albums</div>
				</a>
        	</li>
        </ul>
      </div>
    </div>
    <br><br><br>
	 <div class="container">

      <form class="form-signin" role="form" method="POST">
        <h2 class="form-signin-heading">Please log in</h2>
        <input name="username" class="form-control" placeholder="Username" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>

	
</body>
</html>
