<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
<body id="homebody">
	<div id="top">
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="homebutton" href="/">&lt;--home</a>
	<a id="logout" href="/logout">Logout</a>
	<br>
	<br>
	<form method="post">
	<div id="newreviewfield">
		<label id="artistlabel">Enter the Artist</label>
		<br>
		<input type="text" id="reviewartist" name="reviewartist"><input type="submit" id="artistlookupbtn" name="artistlookupbtn" value="Search">
		<br>
		{% if count != 0: %}
			<p>{{count}}</p>
      	{% elif errorMessage != "": %}
			<p>{{errorMessage}}</p>
		{% endif %}
      	
		<label id="reviewlabel">Type your review</label>
		<textarea id="reviewbody"></textarea>
		<input type="submit" name="newreviewbtn" id="newreviewbtn">
	</div>
	</form>
</body>
</html>
