<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
        <script>
        function albumSwitch(active, number) {  
      
    		for (var i=0; i < number; i++) {  
      			document.getElementById("searchresult_"+i).className = 'searchresult';  
    		}  
    		document.getElementById("searchresult_"+active).className = 'searchresultactive';  
    		
    		var artist = document.getElementById("searchresult_"+active).querySelector(".artistInReview").innerText;
    		var album = document.getElementById("searchresult_"+active).querySelector(".albumInReview").innerText;
    		
    		var hiddenArtist = document.querySelector("#artisthidden");
    		hiddenArtist.value = artist;
    		var hiddenAlbum = document.querySelector("#albumhidden");
    		hiddenAlbum.value = album;
      
		}  
		</script>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="logout" href="/logout">Logout</a>
	<form method="post" action="/newreview">
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/artists">Artists</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
		<div id="allcontent">
			<label id="artistlabel">Enter the Album Name</label>
			<br>
			<input type="text" id="inputAlbum" name="inputAlbum"><input type="submit" id="artistlookupbtn" name="artistlookupbtn" value="Search">
			<br>
			{% if albums|length > 0: %}
				<label id="reviewlabel">Select an album</label>
				<br>
				<br>
				{% for album in albums: %}
					<div class="searchresult" id="searchresult_{{albums.index(album)}}"><a class="searchresulta" href="javascript:albumSwitch({{albums.index(album)}}, {{albums|length}});">
						<p>Artist: <span class="artistInReview">{{album['artistName']}}</span></p>
						<p>Album: <span class="albumInReview">{{album['albumTitle']}}</span></p>
					</a></div>
				{% endfor %}
				<input type="hidden" name="artisthidden" id="artisthidden" value=""</input>
				<input type="hidden" name="albumhidden" id="albumhidden" value=""</input>
			{% elif errorMessage != "": %}
				<p>{{errorMessage}}</p>
			{% endif %}
			<br>
			<label id="reviewlabel">Type your review</label>
			<textarea id="reviewbody" name="reviewbody"></textarea>
			<input type="submit" name="newreviewbtn" id="newreviewbtn">
		</div>
	</div>
	</form>
</body>
</html>
