<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
        <script>
        function albumSwitch(active, number) {  
      
    		for (var i=0; i < number; i++) {  
      			document.getElementById("searchresult_"+i).className = 'searchresult';  
    		}  
    		document.getElementById("searchresult_"+active).className = 'searchresultactive';      
      
		}  
		</script>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="homebutton" href="/">&lt;--home</a>
	<a id="logout" href="/logout">Logout</a>
	<br>
	<br>
	<form method="post" action="/newreview">
	<div id="newreviewfield">
		<label id="artistlabel">Enter the Album Name</label>
		<br>
		<input type="text" id="inputAlbum" name="inputAlbum"><input type="submit" id="artistlookupbtn" name="artistlookupbtn" value="Search">
		<br>
		{% if albums|length > 0: %}
			<label id="reviewlabel">Select an album</label>
			<br>
			<br>
			{% for album in albums: %}
				<div class="searchresult" id="searchresult_{{albums.index(album)}}"><a class="searchresulta" href="javascript:albumSwitch({{albums.index(album)}}, {{albums|length}});">
					<p>Artist: {{album['artistName']}}</p>
					<p>Album: {{album['albumTitle']}}</p>
				</a></div>
			{% endfor %}
      	{% elif errorMessage != "": %}
			<p>{{errorMessage}}</p>
		{% endif %}
      	<br>
		<label id="reviewlabel">Type your review</label>
		<textarea id="reviewbody" name="reviewbody"></textarea>
		<input type="submit" name="newreviewbtn" id="newreviewbtn">
	</div>
	</form>
</body>
</html>
