<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
        <script>
        function changeSearchParam(newValue) {
        	document.getElementById("searchbtn").value = "Find " + newValue;
        	
        }
        </script>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		<a id="logout" href="/logout">Logout</a>
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<div id="maincontainer">
	  	<br>
	  	{% if artists != None: %}
	  		<center style="font-size:26px;">Artists</center>
	  		{% for artist in artists: %}
	  		<form method="post" action="/reviews">
	  		<div id="artistlisting"><a href="/artists/{{artist}}" style="text-decoration:none;color:#444444;">- {{artist}}<a/></div>
	  		<br>
	  		</form>
	  		{% endfor %}
	  	{% elif albums != None: %}
	  		<center style="font-size:26px;">Search Results</center>
	  		<br>
	  		{% for album in albums: %}
	  		<div id="albumListing">
	  			<a href="/albums/{{album['artist']}}+{{album['album']}}" style="text-decoration:none;">{{album['album']}}</a>
	  			<br>
	  			<a href="/artists/{{album['artist']}}" id="artistListingInAlbum">by {{album['artist']}}<a/>
	  		</div>
	  		<br>
	  		{% endfor %}
	  	
	  	{% else: %}
			No results! Try again.
	  	{% endif %}
	</div>
</body>
</html>
