<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="logout" href="/logout">Logout</a>
	<form method="post" action="/reviews">
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/reviews">Reviews</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
	  <div id="allcontent">
	  	<br>
	  	{% if artists != None: %}
	  		<center style="font-size:26px;">Artists</center>
	  		{% for artist in artists: %}
	  		<div id="artistlisting"><a href="/artists/{{artist}}" style="text-decoration:none;color:#444444;">- {{artist}}<a/></div>
	  		<br>
	  		{% endfor %}
	  	{% else: %}
			<input type="text" id="searchartistsinput" placeholder="Search for Artists" name="searchartistsinput">
			<h1 id="orlabel">OR</h1>
			<input type="text" id="searchalbumsinput" placeholder="Search for Albums" name="searchalbumsinput">
			<br>
			<br>
			<input type="submit" value="Find Artists" id="searchartistsbtn" name="searchartistsbtn">
			<input type="submit" value="Find Albums" id="searchalbumsbtn" name="searchalbumsbtn">
	  	{% endif %}
	  </div>
	</div>
	</form>
</body>
</html>
