<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		{% if user: %}
		  <a id="logout" href="/logout">Logout</a>
        {% else %}
            <form method="post" action="/">
            <input type="submit" id="register" value="Sign up" name="signupbutton">
            </form>
            <form method="post" action="/">
            <input type="submit" id="loginbutton" value="Log In" name="loginbutton">
            <input id="loginUsername" type="text" name="username" placeholder="Username">
            <input id="loginPassword" type="password" name="password" placeholder="Password">
            </form>
        {% endif %}
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<form method="post" action="/friends">
	<div id="maincontainer">
	  	<br>
		<div id="permalinkReview">
			<span id="reviewRating">{{review.rating}} / 10</span>
			<br>
			Artist: {{review.artist}}
			<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
			<br>
			Album: {{review.album}}
			<br>
			Review: {{review.reviewText}}
		</div>
	</div>
	</form>
</body>
</html>
