<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
        </head>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
	</div>
	<br>
	<div id="description">
		<label id="website_title">grey<br>matter</label>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<form method="post" action="/friends">
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
	  <div id="allcontent">
	  	<br>
	 		<div id="permalinkReview">
	 		<span id="reviewRating">{{review.rating}} / 10</span>
	 		<br>
	 		Artist: {{review.artist}}
			<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
			<br>
			Album: {{review.album}}
			<br>
			Review: {{review.reviewText}}
			</div>
	  </div>
	</div>
	</form>
</body>
</html>
