<!DOCTYPE HTML>
<html>
	<head>
		<title>The Grey Matter Review</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
		<!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
	</head>
<body id="homebody">
	<form method="post">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="signup">
		<label id="signuplabel">Sign Up</label>
		<br>
		<input id="username" name="newusername" type="text" placeholder="Username" value="{{newusernamevalue}}">
		<br>
		<input class="signup" name="newemail" type="text" placeholder="Email" value="{{newemailvalue}}">
		<br>
		<input class="signup" name="newpassword" type="password" placeholder="New Password" value="{{newpasswordvalue}}">
		<br>	
		<div id="signuperror">
		{{error_username}}
		{{error_password}}
		{{error_email}}
		</div>
		<input type="submit" id="register" value="Sign up" name="signupbutton">
	</div>
	<div id="links">
		<a href="/" class="link">About</a>
		<a href="/" class="link">Help</a>
		<a href="/" class="link">Jobs</a>
		<a href="/" class="link">Terms</a>
	</div>
	</form>	
</body>
</html>
