<!DOCTYPE HTML>
<html>
	<head>
		<title>The Grey Matter Review</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
		<!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
		<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
		<script>
                
                $(document).ready(function(){
					$('#login-trigger').click(function(){
						$(this).next('#login-content').toggle();
						$(this).toggleClass('active');
					
						if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
							else $(this).find('span').html('&#x25BC;')
					});
		  		});
		  		</script>
	</head>
<body id="homebody">
	<form method="post">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		<nav id="loginNav">
			<ul>
				<li id="login">
					<a id="login-trigger" href="#">
						Log in
					</a>
					<div id="login-content">
						<form method="post">
							<fieldset id="inputs">
								<input id="login_username" name="username" placeholder="Your email address" required>   
								<input id="login_password" type="password" name="password" placeholder="Password" required>
							</fieldset>
							<fieldset id="actions">
								<input type="submit" id="login_submit" name="loginbutton" value="Log in">
								<label><input type="checkbox" checked="checked"> Keep me signed in</label>
							</fieldset>
						</form>
					</div>                     
				</li>
			</ul>
		</nav>
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="signup">
		<label id="signuplabel">Sign Up</label>
		<br>
		<input id="username" name="newusername" type="text" placeholder="Username" value="{{newusernamevalue}}">
		<br>
		<input class="signup" name="newemail" type="text" placeholder="Email" value="{{newemailvalue}}">
		<br>
		<input class="signup" name="newpassword" type="password" placeholder="New Password" value="{{newpasswordvalue}}">
		<br>	
		<div id="signuperror">
		{{error_username}}
		{{error_password}}
		{{error_email}}
		</div>
		<input type="submit" id="register" value="Sign up" name="signupbutton">
	</div>
	<div id="links">
		<a href="/" class="link">About</a>
		<a href="/" class="link">Help</a>
		<a href="/" class="link">Jobs</a>
		<a href="/" class="link">Terms</a>
	</div>
	</form>	
</body>
</html>
