<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        <script>
        function tabSwitch(active, number) {  
      
    		for (var i=1; i < number+1; i++) {  
      			document.getElementById("content_"+i).style.display = 'none';  
      			document.getElementById("tab_"+i).className = '';  
    		}  
    		document.getElementById("content_"+active).style.display = 'block';  
    		document.getElementById("tab_"+active).className = 'active';      
      
		}  
		
		function editButtonToInput() {
			document.getElementById("editButtonAge").style.display = 'none';
			document.getElementById("hiddenAge").type = "text";
			document.getElementById("hiddenAgeSubmit").type = "submit";
		}
		
		$.ajaxSetup ({
			cache: false
		});
	
	$( document ).ready(function() {
	
		$("#followUserBtn").click( function(){
			// Get this user's username
			var username = $("h2#profile_name").text();
			
			// Determine if we're currently following this user
			var following = "true";
							
			if ($(this).attr("value") == "+Follow") {
				following = "false";
			}
										
			// Make a data object with the username of the user we're about to follow
			var myData = {
				user: username,
				follow: following
			}				
			// fire off the request
			$.ajax({
				type: "POST",
				url: "/user/" + username,
				data: myData,
				success: function(data) {
					// Change the value of our button to reflect our new following status
					var btn = $("#followUserBtn");
					if (following == "true") {
						btn.attr("value", "+Follow");
					} else {
						btn.attr("value", "Following");
					}
				}
			});
			return false;
		});
	});
		</script>
<body id="homebody">
	<div id="top">
		<div id="logoHolder">
			<a href="/"><span id="emptySpan"></span></a><img id="toplogo" src="/stylesheets/GMLOGO_grey.jpg" alt="Unknown Person" width=40 height=40>
		</div>
		<a id="logout" href="/logout">Logout</a>
	</div>
	<br>
	<div id="description">
		<a href="/" style="text-decoration:none;"><label id="website_title"><span id="emptySpan"></span>grey<br>matter</label></a>
	</div>
	<div id="mission">what do you have to say about music?</div>
	<br>
	<br>
	<div id="searchBar">
		<form method="post" action="/reviews">
		<input type="text" id="searchinput" placeholder="Search" name="searchinput">
		<select id="searchdropdown" name="searchdropdown" onChange="changeSearchParam(this.value);">
			<option value="artists">Artists</option>
			<option value="albums">Albums</option>
		</select>	
		<input type="submit" value="Find Artists" id="searchbtn" name="searchbtn">
		</form>
	</div>
	<br>
	<div id="maincontainer">
		<br>
		<div id="profile_info">
			<h2 id="profile_name">{{user.username}}</h2>
			<br><br>
			<div id="profile_image">
				<img style="display:inline;" src="/stylesheets/GMLOGO.jpg" alt="Unknown Person" width="160" height="180"/>
			</div>
			<form id="followOrUnfollow">
				{% if following: %}
				<input type="submit" value="Following" id="followUserBtn"/>
				{% else: %}
				<input type="submit" value="+Follow" id="followUserBtn"/>
				{% endif %}
			</form>
			<div id="profile_stats">
				Member since: {{user.signupDate.strftime('%B %d, %Y')}}
				<br>
				{% if user.age: %}
				Age: {{user.age}}
				{% else: %}
				Age: <a id="editButtonAge" href="javascript:editButtonToInput();">Edit</a>
					<input id="hiddenAge" type="hidden">
					<input id="hiddenAgeSubmit" type="hidden">
				{% endif %}
				<br>
				{% if user.followers: %}
				Followers: <a href="#">{{user.followers}}</a>
				{% else: %}
				Followers: <a href="#">0</a>
				{% endif %}
				<br>
				{% if user.following: %}
				Following: <a href="#">{{user.following}}</a>
				{% else: %}
				Following: <a href="#">0</a>
				{% endif %}
				<br>
				{% if user.numberOfReviews: %}
				Reviews: {{user.numberOfReviews}}
				{% else: %}
				Reviews: 0
				{% endif %}
			</div>
		</div>
		<div id="profilefeed">
			<h2 style="display:inline;">User Activity</h2>
			{% for review in reviews: %}
				<div class="profileReview">
				{% if not review.rating: %}
					<span id="reviewRating">5 / 10<span>
				{% else: %}
					<span id="reviewRating">{{review.rating}} / 10</span>
				{% endif %}
				<br>
				Artist: {{review.artist}}
				<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
				<br>
				Album: {{review.album}}
				<br>
				Review: {{review.reviewText}}
				</div>
				<br>
			{% endfor %}
		</div>
	</div>
</body>
</html>
