<!DOCTYPE HTML>
<html>
        <head>
                <title>The Grey Matter Review</title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/greystyles.css"/>
                <!--Source of background image: http://cstpdx.com/show/specticast-concert-series-andr%C3%A9-rieu -->
                <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
        </head>
        <script>
        function tabSwitch(active, number) {  
      
    		for (var i=1; i < number+1; i++) {  
      			document.getElementById("content_"+i).style.display = 'none';  
      			document.getElementById("tab_"+i).className = '';  
    		}  
    		document.getElementById("content_"+active).style.display = 'block';  
    		document.getElementById("tab_"+active).className = 'active';      
      
		}  
		
		function editButtonToInput() {
			document.getElementById("editButtonAge").style.display = 'none';
			document.getElementById("hiddenAge").type = "text";
			document.getElementById("hiddenAgeSubmit").type = "submit";
		}
		
		$.ajaxSetup ({
			cache: false
		});

	// variable to hold request
	var request;
	// bind to the submit event of our form

	$( document ).ready(function() {
	
		$("#followOrUnfollow").submit(function(event){
		
			// abort any pending request
			if (request) {
				request.abort();
			}

			// Get this user's username
			var username = $("h2#profile_name").text();
			
			var following = false;
			
			var followingBtn = $("#followUserBtn");
			
			if (followingBtn.length == 0) {
				following = true;
			}
			
			// Make a data object with the username of the user we're about to follow
			var data = {
				user: username,
				follow: following
			}				
			// fire off the request
			request = $.ajax({
				url: "/user/"+username,
				type: "post",
				data: data
			});

			// callback handler that will be called on success
			request.done(function (response, textStatus, jqXHR){
				// log a message to the console
				if (following == true) {
					var btn = $("#unfollowUserBtn");
					btn.attr("id", "followUserBtn");
					btn.attr("value", "+Follow");
				} else {
					var btn = $("#followUserBtn");
					btn.attr("id", "unfollowUserBtn");
					btn.attr("value", "Following");
				}
			});

			// callback handler that will be called on failure
			request.fail(function (jqXHR, textStatus, errorThrown){
				// log the error to the console
				alert("failed");
			});

			// callback handler that will be called regardless
			// if the request failed or succeeded
			request.always(function () {
				// reenable the inputs
				$inputs.prop("disabled", false);
			});

			// prevent default posting of form
			event.preventDefault();
		});
	});
		</script>
<body id="homebody">
	<div id="top">
		<img id="toplogo" src="/stylesheets/GMLOGO_black.jpg" alt="Unknown Person" width=40 height=40>
		<a id="title" href="/home">Grey Matter Review</a>
	</div>
	<br>
	<br>
	<a id="logout" href="/logout">Logout</a>
	<br>
	<div id="maincontainer">
	  <div id="navigation">
	  	<ul id="navigationList">
	  		<li class="navigationElement"><a class="navbut" href="/newreview">New Review</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/home">Profile</a></li>
	  		<li class="navigationelement"><a class="navbut" href="/reviews">Reviews</a></li>
	  		<li class="navigationElement"><a class="navbut" href="/friends">Friends</a></li>
	  	</ul>
	  </div>
	  <div id="allcontent">
		  <div id="content_2" class="content">
		  	<div id="profile_info">
		  		<h2 id="profile_name">{{user.username}}</h2>
		  		<br><br>
				<div id="profile_image">
					<img style="display:inline;" src="/stylesheets/GMLOGO.jpg" alt="Unknown Person" width="160" height="180"/>
		  		</div>
		  		<form id="followOrUnfollow">
					{% if following: %}
					<input type="submit" value="Following" id="unfollowUserBtn" onmouseover="showUnfollow()"/>
					{% else: %}
					<input type="submit" value="+Follow" id="followUserBtn"/>
					{% endif %}
				</form>
		  		<div id="profile_stats">
		  			Member since: {{user.signupDate.strftime('%B %d, %Y')}}
		  			<br>
		  			{% if user.age: %}
		  			Age: {{user.age}}
		  			{% else: %}
		  			Age: <a id="editButtonAge" href="javascript:editButtonToInput();">Edit</a>
		  				<input id="hiddenAge" type="hidden">
		  				<input id="hiddenAgeSubmit" type="hidden">
		  			{% endif %}
		  			<br>
		  			{% if user.followers: %}
		  			Followers: <a href="#">{{user.followers}}</a>
		  			{% else: %}
		  			Followers: <a href="#">0</a>
		  			{% endif %}
		  			<br>
		  			{% if user.following: %}
		  			Following: <a href="#">{{user.following}}</a>
		  			{% else: %}
		  			Following: <a href="#">0</a>
		  			{% endif %}
		  		</div>
		  	</div>
		  	<div id="profilefeed">
		  		<h2 style="display:inline;">User Activity</h2>
		  		{% for review in reviews: %}
		  			<div class="profileReview">Artist: {{review.artist}}
		  			<span id="reviewDate">{{review.reviewDate.strftime('%a %B %d, %Y %I:%M%p')}}</span>
		  			<br>
		  			Album: {{review.album}}
		  			<br>
		  			Review: {{review.reviewText}}
		  			</div>
		  			<br>
		  		{% endfor %}
		  	</div>
		  </div>
	  </div>
	</div>
</body>
</html>
